/* overlay */
.addresssearch-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001; /* TopButton때문에 */ 

  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal container */
.addresssearch-modal {
  user-select: none;
  width: 70%;
  max-width: 400px;
  max-height: 90vh;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  overflow-y: auto;
}