.component07-background {
  width: 100%;
  background: #10538E;
  padding: 64px 16px;
}

.component07-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.component07-title {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 25px;
}

.component07-separator-bar {
  width: 80px;
  height: 4px;
  background-color: #ccc;
  margin: 0 0 40px 0;
}

.component07-button {
  background-color: #ffffff;
  color: #10538E;
  border: none;
  padding: 15px 70px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: fit-content;
}

.component07-button:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.14);
}

.component07-button:active {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

