.component04-background {
  padding: 50px 0;
  width: 100%; /* 전체 가로 크기 */
  /* 얼음 겹쳐 넣는 부분 */
	  background-image:
    url('/icons/com4_ice.png'),
    linear-gradient(#27222B, #27222B);

  background-repeat: no-repeat, repeat;
  background-position: calc(100% - 20px) calc(100% - 20px) , center; /*calc(100% - 20px) calc(100% - 20px)는 얼음 이미지 우측 하단 위치하게 지정, 반응형 고려 */
  background-size: 800px auto, cover;
}

.component04-container {
  width: 1440px; /* 컨테이너 영역 길이 */
  height: 800px;
  align-items: center;
  margin: 50px auto; /* 하단 여백 조정 */
  background-color: #27222B;
  padding: 0 20px;
	background-color: transparent; /*  투명한 배경 적용(색 적용 시 얼음 이미지가 덮일 수 있음)*/
}

.component04-title {
  font-size: 50px;
  margin-bottom: 25px; 
  color: #ffffff; /* 작업 과정 타이틀 컬러 */
}

.component04-separator-bar {
  width: 80px;
  height: 4px;
  background-color: #ffffff; /* 작은 바 요소 컬러 */
  margin-bottom: 50px;
}

.swiper {
  width: 80%;
  height: 85%;
}

.swiper-slide {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: stretch;

  background: #10538E;
  color: #ffffff;
}

/* 슬라이드 내부 컨텐츠 */
.slide-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

/* 이미지 */
.slide-content img {
  width: 100%;
  flex: 1; 
  object-fit: cover;
}

/* 텍스트 */
.slide-content p {
  margin: 16px 0;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
