.component04-background {
  padding: 50px 0;
  width: 100%; /* 전체 가로 크기 */
  /* 얼음 겹쳐 넣는 부분 */
	  background-image:
    url('/icons/com4_ice.png'),
    linear-gradient(#27222B, #27222B);

  background-repeat: no-repeat, repeat;
  background-position: calc(100% - 20px) calc(100% - 20px) , center; /*calc(100% - 20px) calc(100% - 20px)는 얼음 이미지 우측 하단 위치하게 지정, 반응형 고려 */
  background-size: 600px auto, cover;
}

.component04-container {
  width: 1440px; /* 컨테이너 영역 길이 */
  height: 700px;
  align-items: center;
  margin: 20px auto; 
  background-color: #27222B;
  padding: 0 20px;
	background-color: transparent; /*  투명한 배경 적용(색 적용 시 얼음 이미지가 덮일 수 있음)*/
}

.component04-title {
  font-size: 50px;
  margin-bottom: 25px; 
  color: #ffffff; /* 작업 과정 타이틀 컬러 */
}

.component04-separator-bar {
  width: 80px;
  height: 4px;
  background-color: #ffffff; /* 작은 바 요소 컬러 */
  margin-bottom: 50px;
}

.swiper {
  width: 80%;
  height: 85%;
}

.swiper-slide {
  text-align: center;
  font-size: 40px;
	color: #ffffff;
  background: #494949;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: baseline; /* 글자 위쪽 위치 지정 */
	text-shadow:
  0 2px 4px rgba(0, 0, 0, 0.4),
  0 6px 12px rgba(0, 0, 0, 0.25); /* 글자에 그림자 */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

