.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.footer-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #10538e;
  font-size: 16px;
}

.footer-info li {
  margin-bottom: 5px;
}

.footer-logo img {
  width: 247px;
  height: 70px;
}
