.header-container {
  display: flex;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  gap: 20px;
}

/* 공통 */
.header-icon-link {
  display: flex;
  align-items: center;
}

/* 로고 */
.header-icon-home-btn {
  width: 333px;
  height: auto;
}

/* 가운데 선  */
.header-line {
  flex: 1;                   
  height: 5px;
  background-color: #10538e;
  border-radius: 20px;
}

/* 로그인 */
.login {
  margin-left: auto;
}

.header-icon-login-btn {
  width: 70px;
  height: 70px;
}

@media (max-width: 768px) {
  .header-icon-home-btn {
    width: 260px;
  }

  .header-icon-login-btn {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 480px) {
  .header-line {
    display: none;   /* 모바일에서는 선 제거 */
  }
}
