.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

.header-divider {
  flex-grow: 1;
  height: 5px;
  background-color: #10538e;
  margin: 0 15px;
}

.header-icon-link {
  display: flex;
  align-items: center;
}

.header-icon1 {
  width: 322px;
  height: 100px;
}
