/* 전체 페이지 */
.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* 로그인 컨테이너 */
.login-container {
  width: 700px;           
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로고 영역 */
.login-logo {
  margin-bottom: 50px;
}

.login-logo img {
  width: 250px;             
  height: 250px;
  object-fit: contain;
	animation: floatLogo 3s ease-in-out infinite;
}

/* 위아래 부유 애니메이션 */
@keyframes floatLogo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

/* 카카오 로그인 영역 */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 탄성 있게 호버시 모션 */
.login-kakao {
  transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.login-kakao:hover {
  transform: scale(1.01);
}


